/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290@sass-3.2.0/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290@sass-3.2.0/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290@sass-3.2.0/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290@sass-3.2.0/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290@sass-3.2.0/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290@sass-3.2.0/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p290@sass-3.2.0/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290@sass-3.2.0/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p290@sass-3.2.0/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../scss/path.scss */
#menu {
  width: 200px;
  height: 200px;
  margin: 3px;
  position: relative;
}

/* line 18, ../scss/path.scss */
.open-menu {
  left: 0;
  bottom: 0;
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border: 3px white solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px, inset rgba(0, 0, 0, 0.5) 0 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px, inset rgba(0, 0, 0, 0.5) 0 0 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px, inset rgba(0, 0, 0, 0.5) 0 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px, inset rgba(0, 0, 0, 0.5) 0 0 1px 0;
  background-color: #ff3333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #dd5522));
  background-image: -webkit-linear-gradient(top, #ff3333 0%, #dd5522 100%);
  background-image: -moz-linear-gradient(top, #ff3333 0%, #dd5522 100%);
  background-image: -o-linear-gradient(top, #ff3333 0%, #dd5522 100%);
  background-image: -ms-linear-gradient(top, #ff3333 0%, #dd5522 100%);
  background-image: linear-gradient(top, #ff3333 0%, #dd5522 100%);
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  z-index: 1;
}

/* line 40, ../scss/path.scss */
.open-menu span {
  width: 24px;
  height: 24px;
  display: block;
  -moz-transition-property: -moz-transform;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 49, ../scss/path.scss */
.open .open-menu span {
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* line 53, ../scss/path.scss */
.actions {
  position: absolute;
  left: 3px;
  bottom: 3px;
}

/* line 59, ../scss/path.scss */
.never-open .actions {
  display: none;
}

/* line 63, ../scss/path.scss */
.actions li {
  background-color: #444;
  width: 18px;
  height: 18px;
  border: 3px white solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px;
  text-shadow: rgba(255, 255, 255, 0.8) 0 0 1px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-duration: 0.45s;
  -webkit-animation-duration: 0.45s;
  -ms-animation-duration: 0.45s;
  animation-duration: 0.45s;
}

@-moz-keyframes open-rotate {
  /* line 84, ../scss/path.scss */
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 87, ../scss/path.scss */
  100% {
    -moz-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-moz-keyframes close-rotate {
  /* line 93, ../scss/path.scss */
  0% {
    -moz-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  /* line 96, ../scss/path.scss */
  100% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* line 101, ../scss/path.scss */
.item {
  text-decoration: none;
  color: #fff;
  -moz-animation-name: close-rotate;
  -webkit-animation-name: close-rotate;
  -ms-animation-name: close-rotate;
  animation-name: close-rotate;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-duration: 0.45s;
  -webkit-animation-duration: 0.45s;
  -ms-animation-duration: 0.45s;
  animation-duration: 0.45s;
  display: inline-block;
}

/* line 110, ../scss/path.scss */
.open .item {
  -moz-animation-name: open-rotate;
  -webkit-animation-name: open-rotate;
  -ms-animation-name: open-rotate;
  animation-name: open-rotate;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
}

@-moz-keyframes open-1 {
  /* line 119, ../scss/path.scss */
  0% {
    left: 0px;
    bottom: 0px;
  }

  /* line 123, ../scss/path.scss */
  60% {
    left: 110.0px;
    bottom: 0px;
  }

  /* line 127, ../scss/path.scss */
  80% {
    left: 95px;
    bottom: 0px;
  }

  /* line 131, ../scss/path.scss */
  100% {
    left: 100px;
    bottom: 0px;
  }
}

@-moz-keyframes close-1 {
  /* line 138, ../scss/path.scss */
  0% {
    left: 100px;
    bottom: 0px;
  }

  /* line 142, ../scss/path.scss */
  60% {
    left: 120px;
    bottom: 0px;
  }

  /* line 146, ../scss/path.scss */
  100% {
    left: 0px;
    bottom: 0px;
  }
}

/* line 153, ../scss/path.scss */
.open li:nth-of-type(1) {
  left: 100px;
  bottom: 0px;
  -moz-animation-name: open-1;
  -webkit-animation-name: open-1;
  -ms-animation-name: open-1;
  animation-name: open-1;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* line 161, ../scss/path.scss */
.open li:nth-of-type(1) .item {
  -moz-animation-duration: 0.55s;
  -webkit-animation-duration: 0.55s;
  -ms-animation-duration: 0.55s;
  animation-duration: 0.55s;
}

/* line 166, ../scss/path.scss */
li:nth-of-type(1) {
  -moz-animation-name: close-1;
  -webkit-animation-name: close-1;
  -ms-animation-name: close-1;
  animation-name: close-1;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}

/* line 172, ../scss/path.scss */
li:nth-of-type(1) .item {
  -moz-animation-duration: 0.45s;
  -webkit-animation-duration: 0.45s;
  -ms-animation-duration: 0.45s;
  animation-duration: 0.45s;
}

@-moz-keyframes open-2 {
  /* line 119, ../scss/path.scss */
  0% {
    left: 0px;
    bottom: 0px;
  }

  /* line 123, ../scss/path.scss */
  60% {
    left: 104.616px;
    bottom: 33.992px;
  }

  /* line 127, ../scss/path.scss */
  80% {
    left: 90.35px;
    bottom: 29.357px;
  }

  /* line 131, ../scss/path.scss */
  100% {
    left: 95.106px;
    bottom: 30.902px;
  }
}

@-moz-keyframes close-2 {
  /* line 138, ../scss/path.scss */
  0% {
    left: 95.106px;
    bottom: 30.902px;
  }

  /* line 142, ../scss/path.scss */
  60% {
    left: 114.127px;
    bottom: 37.082px;
  }

  /* line 146, ../scss/path.scss */
  100% {
    left: 0px;
    bottom: 0px;
  }
}

/* line 153, ../scss/path.scss */
.open li:nth-of-type(2) {
  left: 95.106px;
  bottom: 30.902px;
  -moz-animation-name: open-2;
  -webkit-animation-name: open-2;
  -ms-animation-name: open-2;
  animation-name: open-2;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0.08s;
  -webkit-animation-delay: 0.08s;
  -ms-animation-delay: 0.08s;
  animation-delay: 0.08s;
}

/* line 161, ../scss/path.scss */
.open li:nth-of-type(2) .item {
  -moz-animation-duration: 0.53s;
  -webkit-animation-duration: 0.53s;
  -ms-animation-duration: 0.53s;
  animation-duration: 0.53s;
}

/* line 166, ../scss/path.scss */
li:nth-of-type(2) {
  -moz-animation-name: close-2;
  -webkit-animation-name: close-2;
  -ms-animation-name: close-2;
  animation-name: close-2;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0.02s;
  -webkit-animation-delay: 0.02s;
  -ms-animation-delay: 0.02s;
  animation-delay: 0.02s;
}

/* line 172, ../scss/path.scss */
li:nth-of-type(2) .item {
  -moz-animation-duration: 0.47s;
  -webkit-animation-duration: 0.47s;
  -ms-animation-duration: 0.47s;
  animation-duration: 0.47s;
}

@-moz-keyframes open-3 {
  /* line 119, ../scss/path.scss */
  0% {
    left: 0px;
    bottom: 0px;
  }

  /* line 123, ../scss/path.scss */
  60% {
    left: 88.992px;
    bottom: 64.656px;
  }

  /* line 127, ../scss/path.scss */
  80% {
    left: 76.857px;
    bottom: 55.84px;
  }

  /* line 131, ../scss/path.scss */
  100% {
    left: 80.902px;
    bottom: 58.779px;
  }
}

@-moz-keyframes close-3 {
  /* line 138, ../scss/path.scss */
  0% {
    left: 80.902px;
    bottom: 58.779px;
  }

  /* line 142, ../scss/path.scss */
  60% {
    left: 97.082px;
    bottom: 70.534px;
  }

  /* line 146, ../scss/path.scss */
  100% {
    left: 0px;
    bottom: 0px;
  }
}

/* line 153, ../scss/path.scss */
.open li:nth-of-type(3) {
  left: 80.902px;
  bottom: 58.779px;
  -moz-animation-name: open-3;
  -webkit-animation-name: open-3;
  -ms-animation-name: open-3;
  animation-name: open-3;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0.06s;
  -webkit-animation-delay: 0.06s;
  -ms-animation-delay: 0.06s;
  animation-delay: 0.06s;
}

/* line 161, ../scss/path.scss */
.open li:nth-of-type(3) .item {
  -moz-animation-duration: 0.51s;
  -webkit-animation-duration: 0.51s;
  -ms-animation-duration: 0.51s;
  animation-duration: 0.51s;
}

/* line 166, ../scss/path.scss */
li:nth-of-type(3) {
  -moz-animation-name: close-3;
  -webkit-animation-name: close-3;
  -ms-animation-name: close-3;
  animation-name: close-3;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0.04s;
  -webkit-animation-delay: 0.04s;
  -ms-animation-delay: 0.04s;
  animation-delay: 0.04s;
}

/* line 172, ../scss/path.scss */
li:nth-of-type(3) .item {
  -moz-animation-duration: 0.49s;
  -webkit-animation-duration: 0.49s;
  -ms-animation-duration: 0.49s;
  animation-duration: 0.49s;
}

@-moz-keyframes open-4 {
  /* line 119, ../scss/path.scss */
  0% {
    left: 0px;
    bottom: 0px;
  }

  /* line 123, ../scss/path.scss */
  60% {
    left: 64.656px;
    bottom: 88.992px;
  }

  /* line 127, ../scss/path.scss */
  80% {
    left: 55.84px;
    bottom: 76.857px;
  }

  /* line 131, ../scss/path.scss */
  100% {
    left: 58.779px;
    bottom: 80.902px;
  }
}

@-moz-keyframes close-4 {
  /* line 138, ../scss/path.scss */
  0% {
    left: 58.779px;
    bottom: 80.902px;
  }

  /* line 142, ../scss/path.scss */
  60% {
    left: 70.534px;
    bottom: 97.082px;
  }

  /* line 146, ../scss/path.scss */
  100% {
    left: 0px;
    bottom: 0px;
  }
}

/* line 153, ../scss/path.scss */
.open li:nth-of-type(4) {
  left: 58.779px;
  bottom: 80.902px;
  -moz-animation-name: open-4;
  -webkit-animation-name: open-4;
  -ms-animation-name: open-4;
  animation-name: open-4;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0.04s;
  -webkit-animation-delay: 0.04s;
  -ms-animation-delay: 0.04s;
  animation-delay: 0.04s;
}

/* line 161, ../scss/path.scss */
.open li:nth-of-type(4) .item {
  -moz-animation-duration: 0.49s;
  -webkit-animation-duration: 0.49s;
  -ms-animation-duration: 0.49s;
  animation-duration: 0.49s;
}

/* line 166, ../scss/path.scss */
li:nth-of-type(4) {
  -moz-animation-name: close-4;
  -webkit-animation-name: close-4;
  -ms-animation-name: close-4;
  animation-name: close-4;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0.06s;
  -webkit-animation-delay: 0.06s;
  -ms-animation-delay: 0.06s;
  animation-delay: 0.06s;
}

/* line 172, ../scss/path.scss */
li:nth-of-type(4) .item {
  -moz-animation-duration: 0.51s;
  -webkit-animation-duration: 0.51s;
  -ms-animation-duration: 0.51s;
  animation-duration: 0.51s;
}

@-moz-keyframes open-5 {
  /* line 119, ../scss/path.scss */
  0% {
    left: 0px;
    bottom: 0px;
  }

  /* line 123, ../scss/path.scss */
  60% {
    left: 33.992px;
    bottom: 104.616px;
  }

  /* line 127, ../scss/path.scss */
  80% {
    left: 29.357px;
    bottom: 90.35px;
  }

  /* line 131, ../scss/path.scss */
  100% {
    left: 30.902px;
    bottom: 95.106px;
  }
}

@-moz-keyframes close-5 {
  /* line 138, ../scss/path.scss */
  0% {
    left: 30.902px;
    bottom: 95.106px;
  }

  /* line 142, ../scss/path.scss */
  60% {
    left: 37.082px;
    bottom: 114.127px;
  }

  /* line 146, ../scss/path.scss */
  100% {
    left: 0px;
    bottom: 0px;
  }
}

/* line 153, ../scss/path.scss */
.open li:nth-of-type(5) {
  left: 30.902px;
  bottom: 95.106px;
  -moz-animation-name: open-5;
  -webkit-animation-name: open-5;
  -ms-animation-name: open-5;
  animation-name: open-5;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0.02s;
  -webkit-animation-delay: 0.02s;
  -ms-animation-delay: 0.02s;
  animation-delay: 0.02s;
}

/* line 161, ../scss/path.scss */
.open li:nth-of-type(5) .item {
  -moz-animation-duration: 0.47s;
  -webkit-animation-duration: 0.47s;
  -ms-animation-duration: 0.47s;
  animation-duration: 0.47s;
}

/* line 166, ../scss/path.scss */
li:nth-of-type(5) {
  -moz-animation-name: close-5;
  -webkit-animation-name: close-5;
  -ms-animation-name: close-5;
  animation-name: close-5;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0.08s;
  -webkit-animation-delay: 0.08s;
  -ms-animation-delay: 0.08s;
  animation-delay: 0.08s;
}

/* line 172, ../scss/path.scss */
li:nth-of-type(5) .item {
  -moz-animation-duration: 0.53s;
  -webkit-animation-duration: 0.53s;
  -ms-animation-duration: 0.53s;
  animation-duration: 0.53s;
}

@-moz-keyframes open-6 {
  /* line 119, ../scss/path.scss */
  0% {
    left: 0px;
    bottom: 0px;
  }

  /* line 123, ../scss/path.scss */
  60% {
    left: 0.0px;
    bottom: 110.0px;
  }

  /* line 127, ../scss/path.scss */
  80% {
    left: 0.0px;
    bottom: 95px;
  }

  /* line 131, ../scss/path.scss */
  100% {
    left: 0.0px;
    bottom: 100px;
  }
}

@-moz-keyframes close-6 {
  /* line 138, ../scss/path.scss */
  0% {
    left: 0.0px;
    bottom: 100px;
  }

  /* line 142, ../scss/path.scss */
  60% {
    left: 0.0px;
    bottom: 120px;
  }

  /* line 146, ../scss/path.scss */
  100% {
    left: 0px;
    bottom: 0px;
  }
}

/* line 153, ../scss/path.scss */
.open li:nth-of-type(6) {
  left: 0.0px;
  bottom: 100px;
  -moz-animation-name: open-6;
  -webkit-animation-name: open-6;
  -ms-animation-name: open-6;
  animation-name: open-6;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}

/* line 161, ../scss/path.scss */
.open li:nth-of-type(6) .item {
  -moz-animation-duration: 0.45s;
  -webkit-animation-duration: 0.45s;
  -ms-animation-duration: 0.45s;
  animation-duration: 0.45s;
}

/* line 166, ../scss/path.scss */
li:nth-of-type(6) {
  -moz-animation-name: close-6;
  -webkit-animation-name: close-6;
  -ms-animation-name: close-6;
  animation-name: close-6;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* line 172, ../scss/path.scss */
li:nth-of-type(6) .item {
  -moz-animation-duration: 0.55s;
  -webkit-animation-duration: 0.55s;
  -ms-animation-duration: 0.55s;
  animation-duration: 0.55s;
}
