html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#menu {
  width: 200px;
  height: 200px;
  margin: 3px;
  position: relative;
}

.open-menu {
  left: 0;
  bottom: 0;
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border: 3px white solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px, inset rgba(0, 0, 0, 0.5) 0 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px, inset rgba(0, 0, 0, 0.5) 0 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px, inset rgba(0, 0, 0, 0.5) 0 0 1px 0;
  background-color: #ff3333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #dd5522));
  background-image: -webkit-linear-gradient(top, #ff3333 0%, #dd5522 100%);
  background-image: -moz-linear-gradient(top, #ff3333 0%, #dd5522 100%);
  background-image: -o-linear-gradient(top, #ff3333 0%, #dd5522 100%);
  background-image: linear-gradient(top, #ff3333 0%, #dd5522 100%);
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  z-index: 1;
}

.open-menu span {
  width: 24px;
  height: 24px;
  display: block;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.open .open-menu span {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.actions {
  position: absolute;
  left: 3px;
  bottom: 3px;
}
.never-open .actions {
  display: none;
}

.actions li {
  background-color: #444;
  width: 18px;
  height: 18px;
  border: 3px white solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 1px;
  text-shadow: rgba(255, 255, 255, 0.8) 0 0 1px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.45s;
  -moz-animation-duration: 0.45s;
  -ms-animation-duration: 0.45s;
  animation-duration: 0.45s;
}

@-moz-keyframes open-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-webkit-keyframes open-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-ms-keyframes open-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes open-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-moz-keyframes close-rotate {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes close-rotate {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-ms-keyframes close-rotate {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes close-rotate {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.item {
  text-decoration: none;
  color: #fff;
  -webkit-animation-name: close-rotate;
  -moz-animation-name: close-rotate;
  -ms-animation-name: close-rotate;
  animation-name: close-rotate;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  display: inline-block;
}
.open .item {
  -webkit-animation-name: open-rotate;
  -moz-animation-name: open-rotate;
  -ms-animation-name: open-rotate;
  animation-name: open-rotate;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
}

@-moz-keyframes open-1 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 110.0px;
    bottom: 0px;
  }

  80% {
    left: 95px;
    bottom: 0px;
  }

  100% {
    left: 100px;
    bottom: 0px;
  }
}

@-webkit-keyframes open-1 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 110.0px;
    bottom: 0px;
  }

  80% {
    left: 95px;
    bottom: 0px;
  }

  100% {
    left: 100px;
    bottom: 0px;
  }
}

@-ms-keyframes open-1 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 110.0px;
    bottom: 0px;
  }

  80% {
    left: 95px;
    bottom: 0px;
  }

  100% {
    left: 100px;
    bottom: 0px;
  }
}

@keyframes open-1 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 110.0px;
    bottom: 0px;
  }

  80% {
    left: 95px;
    bottom: 0px;
  }

  100% {
    left: 100px;
    bottom: 0px;
  }
}

@-moz-keyframes close-1 {
  0% {
    left: 100px;
    bottom: 0px;
  }

  60% {
    left: 120px;
    bottom: 0px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-webkit-keyframes close-1 {
  0% {
    left: 100px;
    bottom: 0px;
  }

  60% {
    left: 120px;
    bottom: 0px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-ms-keyframes close-1 {
  0% {
    left: 100px;
    bottom: 0px;
  }

  60% {
    left: 120px;
    bottom: 0px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@keyframes close-1 {
  0% {
    left: 100px;
    bottom: 0px;
  }

  60% {
    left: 120px;
    bottom: 0px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

.open li:nth-of-type(1) {
  left: 100px;
  bottom: 0px;
  -webkit-animation-name: open-1;
  -moz-animation-name: open-1;
  -ms-animation-name: open-1;
  animation-name: open-1;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.open li:nth-of-type(1) .item {
  -webkit-animation-duration: 0.55s;
  -moz-animation-duration: 0.55s;
  -ms-animation-duration: 0.55s;
  animation-duration: 0.55s;
}

li:nth-of-type(1) {
  -webkit-animation-name: close-1;
  -moz-animation-name: close-1;
  -ms-animation-name: close-1;
  animation-name: close-1;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}

li:nth-of-type(1) .item {
  -webkit-animation-duration: 0.45s;
  -moz-animation-duration: 0.45s;
  -ms-animation-duration: 0.45s;
  animation-duration: 0.45s;
}

@-moz-keyframes open-2 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 104.61622px;
    bottom: 33.99187px;
  }

  80% {
    left: 90.35037px;
    bottom: 29.35661px;
  }

  100% {
    left: 95.10565px;
    bottom: 30.9017px;
  }
}

@-webkit-keyframes open-2 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 104.61622px;
    bottom: 33.99187px;
  }

  80% {
    left: 90.35037px;
    bottom: 29.35661px;
  }

  100% {
    left: 95.10565px;
    bottom: 30.9017px;
  }
}

@-ms-keyframes open-2 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 104.61622px;
    bottom: 33.99187px;
  }

  80% {
    left: 90.35037px;
    bottom: 29.35661px;
  }

  100% {
    left: 95.10565px;
    bottom: 30.9017px;
  }
}

@keyframes open-2 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 104.61622px;
    bottom: 33.99187px;
  }

  80% {
    left: 90.35037px;
    bottom: 29.35661px;
  }

  100% {
    left: 95.10565px;
    bottom: 30.9017px;
  }
}

@-moz-keyframes close-2 {
  0% {
    left: 95.10565px;
    bottom: 30.9017px;
  }

  60% {
    left: 114.12678px;
    bottom: 37.08204px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-webkit-keyframes close-2 {
  0% {
    left: 95.10565px;
    bottom: 30.9017px;
  }

  60% {
    left: 114.12678px;
    bottom: 37.08204px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-ms-keyframes close-2 {
  0% {
    left: 95.10565px;
    bottom: 30.9017px;
  }

  60% {
    left: 114.12678px;
    bottom: 37.08204px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@keyframes close-2 {
  0% {
    left: 95.10565px;
    bottom: 30.9017px;
  }

  60% {
    left: 114.12678px;
    bottom: 37.08204px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

.open li:nth-of-type(2) {
  left: 95.10565px;
  bottom: 30.9017px;
  -webkit-animation-name: open-2;
  -moz-animation-name: open-2;
  -ms-animation-name: open-2;
  animation-name: open-2;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  -ms-animation-delay: 0.08s;
  animation-delay: 0.08s;
}

.open li:nth-of-type(2) .item {
  -webkit-animation-duration: 0.53s;
  -moz-animation-duration: 0.53s;
  -ms-animation-duration: 0.53s;
  animation-duration: 0.53s;
}

li:nth-of-type(2) {
  -webkit-animation-name: close-2;
  -moz-animation-name: close-2;
  -ms-animation-name: close-2;
  animation-name: close-2;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.02s;
  -moz-animation-delay: 0.02s;
  -ms-animation-delay: 0.02s;
  animation-delay: 0.02s;
}

li:nth-of-type(2) .item {
  -webkit-animation-duration: 0.47s;
  -moz-animation-duration: 0.47s;
  -ms-animation-duration: 0.47s;
  animation-duration: 0.47s;
}

@-moz-keyframes open-3 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 88.99187px;
    bottom: 64.65638px;
  }

  80% {
    left: 76.85661px;
    bottom: 55.8396px;
  }

  100% {
    left: 80.9017px;
    bottom: 58.77853px;
  }
}

@-webkit-keyframes open-3 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 88.99187px;
    bottom: 64.65638px;
  }

  80% {
    left: 76.85661px;
    bottom: 55.8396px;
  }

  100% {
    left: 80.9017px;
    bottom: 58.77853px;
  }
}

@-ms-keyframes open-3 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 88.99187px;
    bottom: 64.65638px;
  }

  80% {
    left: 76.85661px;
    bottom: 55.8396px;
  }

  100% {
    left: 80.9017px;
    bottom: 58.77853px;
  }
}

@keyframes open-3 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 88.99187px;
    bottom: 64.65638px;
  }

  80% {
    left: 76.85661px;
    bottom: 55.8396px;
  }

  100% {
    left: 80.9017px;
    bottom: 58.77853px;
  }
}

@-moz-keyframes close-3 {
  0% {
    left: 80.9017px;
    bottom: 58.77853px;
  }

  60% {
    left: 97.08204px;
    bottom: 70.53423px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-webkit-keyframes close-3 {
  0% {
    left: 80.9017px;
    bottom: 58.77853px;
  }

  60% {
    left: 97.08204px;
    bottom: 70.53423px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-ms-keyframes close-3 {
  0% {
    left: 80.9017px;
    bottom: 58.77853px;
  }

  60% {
    left: 97.08204px;
    bottom: 70.53423px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@keyframes close-3 {
  0% {
    left: 80.9017px;
    bottom: 58.77853px;
  }

  60% {
    left: 97.08204px;
    bottom: 70.53423px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

.open li:nth-of-type(3) {
  left: 80.9017px;
  bottom: 58.77853px;
  -webkit-animation-name: open-3;
  -moz-animation-name: open-3;
  -ms-animation-name: open-3;
  animation-name: open-3;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.06s;
  -moz-animation-delay: 0.06s;
  -ms-animation-delay: 0.06s;
  animation-delay: 0.06s;
}

.open li:nth-of-type(3) .item {
  -webkit-animation-duration: 0.51s;
  -moz-animation-duration: 0.51s;
  -ms-animation-duration: 0.51s;
  animation-duration: 0.51s;
}

li:nth-of-type(3) {
  -webkit-animation-name: close-3;
  -moz-animation-name: close-3;
  -ms-animation-name: close-3;
  animation-name: close-3;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.04s;
  -moz-animation-delay: 0.04s;
  -ms-animation-delay: 0.04s;
  animation-delay: 0.04s;
}

li:nth-of-type(3) .item {
  -webkit-animation-duration: 0.49s;
  -moz-animation-duration: 0.49s;
  -ms-animation-duration: 0.49s;
  animation-duration: 0.49s;
}

@-moz-keyframes open-4 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 64.65638px;
    bottom: 88.99187px;
  }

  80% {
    left: 55.8396px;
    bottom: 76.85661px;
  }

  100% {
    left: 58.77853px;
    bottom: 80.9017px;
  }
}

@-webkit-keyframes open-4 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 64.65638px;
    bottom: 88.99187px;
  }

  80% {
    left: 55.8396px;
    bottom: 76.85661px;
  }

  100% {
    left: 58.77853px;
    bottom: 80.9017px;
  }
}

@-ms-keyframes open-4 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 64.65638px;
    bottom: 88.99187px;
  }

  80% {
    left: 55.8396px;
    bottom: 76.85661px;
  }

  100% {
    left: 58.77853px;
    bottom: 80.9017px;
  }
}

@keyframes open-4 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 64.65638px;
    bottom: 88.99187px;
  }

  80% {
    left: 55.8396px;
    bottom: 76.85661px;
  }

  100% {
    left: 58.77853px;
    bottom: 80.9017px;
  }
}

@-moz-keyframes close-4 {
  0% {
    left: 58.77853px;
    bottom: 80.9017px;
  }

  60% {
    left: 70.53423px;
    bottom: 97.08204px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-webkit-keyframes close-4 {
  0% {
    left: 58.77853px;
    bottom: 80.9017px;
  }

  60% {
    left: 70.53423px;
    bottom: 97.08204px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-ms-keyframes close-4 {
  0% {
    left: 58.77853px;
    bottom: 80.9017px;
  }

  60% {
    left: 70.53423px;
    bottom: 97.08204px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@keyframes close-4 {
  0% {
    left: 58.77853px;
    bottom: 80.9017px;
  }

  60% {
    left: 70.53423px;
    bottom: 97.08204px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

.open li:nth-of-type(4) {
  left: 58.77853px;
  bottom: 80.9017px;
  -webkit-animation-name: open-4;
  -moz-animation-name: open-4;
  -ms-animation-name: open-4;
  animation-name: open-4;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.04s;
  -moz-animation-delay: 0.04s;
  -ms-animation-delay: 0.04s;
  animation-delay: 0.04s;
}

.open li:nth-of-type(4) .item {
  -webkit-animation-duration: 0.49s;
  -moz-animation-duration: 0.49s;
  -ms-animation-duration: 0.49s;
  animation-duration: 0.49s;
}

li:nth-of-type(4) {
  -webkit-animation-name: close-4;
  -moz-animation-name: close-4;
  -ms-animation-name: close-4;
  animation-name: close-4;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.06s;
  -moz-animation-delay: 0.06s;
  -ms-animation-delay: 0.06s;
  animation-delay: 0.06s;
}

li:nth-of-type(4) .item {
  -webkit-animation-duration: 0.51s;
  -moz-animation-duration: 0.51s;
  -ms-animation-duration: 0.51s;
  animation-duration: 0.51s;
}

@-moz-keyframes open-5 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 33.99187px;
    bottom: 104.61622px;
  }

  80% {
    left: 29.35661px;
    bottom: 90.35037px;
  }

  100% {
    left: 30.9017px;
    bottom: 95.10565px;
  }
}

@-webkit-keyframes open-5 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 33.99187px;
    bottom: 104.61622px;
  }

  80% {
    left: 29.35661px;
    bottom: 90.35037px;
  }

  100% {
    left: 30.9017px;
    bottom: 95.10565px;
  }
}

@-ms-keyframes open-5 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 33.99187px;
    bottom: 104.61622px;
  }

  80% {
    left: 29.35661px;
    bottom: 90.35037px;
  }

  100% {
    left: 30.9017px;
    bottom: 95.10565px;
  }
}

@keyframes open-5 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 33.99187px;
    bottom: 104.61622px;
  }

  80% {
    left: 29.35661px;
    bottom: 90.35037px;
  }

  100% {
    left: 30.9017px;
    bottom: 95.10565px;
  }
}

@-moz-keyframes close-5 {
  0% {
    left: 30.9017px;
    bottom: 95.10565px;
  }

  60% {
    left: 37.08204px;
    bottom: 114.12678px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-webkit-keyframes close-5 {
  0% {
    left: 30.9017px;
    bottom: 95.10565px;
  }

  60% {
    left: 37.08204px;
    bottom: 114.12678px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-ms-keyframes close-5 {
  0% {
    left: 30.9017px;
    bottom: 95.10565px;
  }

  60% {
    left: 37.08204px;
    bottom: 114.12678px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@keyframes close-5 {
  0% {
    left: 30.9017px;
    bottom: 95.10565px;
  }

  60% {
    left: 37.08204px;
    bottom: 114.12678px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

.open li:nth-of-type(5) {
  left: 30.9017px;
  bottom: 95.10565px;
  -webkit-animation-name: open-5;
  -moz-animation-name: open-5;
  -ms-animation-name: open-5;
  animation-name: open-5;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.02s;
  -moz-animation-delay: 0.02s;
  -ms-animation-delay: 0.02s;
  animation-delay: 0.02s;
}

.open li:nth-of-type(5) .item {
  -webkit-animation-duration: 0.47s;
  -moz-animation-duration: 0.47s;
  -ms-animation-duration: 0.47s;
  animation-duration: 0.47s;
}

li:nth-of-type(5) {
  -webkit-animation-name: close-5;
  -moz-animation-name: close-5;
  -ms-animation-name: close-5;
  animation-name: close-5;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.08s;
  -moz-animation-delay: 0.08s;
  -ms-animation-delay: 0.08s;
  animation-delay: 0.08s;
}

li:nth-of-type(5) .item {
  -webkit-animation-duration: 0.53s;
  -moz-animation-duration: 0.53s;
  -ms-animation-duration: 0.53s;
  animation-duration: 0.53s;
}

@-moz-keyframes open-6 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 0.0px;
    bottom: 110.0px;
  }

  80% {
    left: 0.0px;
    bottom: 95px;
  }

  100% {
    left: 0.0px;
    bottom: 100px;
  }
}

@-webkit-keyframes open-6 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 0.0px;
    bottom: 110.0px;
  }

  80% {
    left: 0.0px;
    bottom: 95px;
  }

  100% {
    left: 0.0px;
    bottom: 100px;
  }
}

@-ms-keyframes open-6 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 0.0px;
    bottom: 110.0px;
  }

  80% {
    left: 0.0px;
    bottom: 95px;
  }

  100% {
    left: 0.0px;
    bottom: 100px;
  }
}

@keyframes open-6 {
  0% {
    left: 0px;
    bottom: 0px;
  }

  60% {
    left: 0.0px;
    bottom: 110.0px;
  }

  80% {
    left: 0.0px;
    bottom: 95px;
  }

  100% {
    left: 0.0px;
    bottom: 100px;
  }
}

@-moz-keyframes close-6 {
  0% {
    left: 0.0px;
    bottom: 100px;
  }

  60% {
    left: 0.0px;
    bottom: 120px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-webkit-keyframes close-6 {
  0% {
    left: 0.0px;
    bottom: 100px;
  }

  60% {
    left: 0.0px;
    bottom: 120px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@-ms-keyframes close-6 {
  0% {
    left: 0.0px;
    bottom: 100px;
  }

  60% {
    left: 0.0px;
    bottom: 120px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

@keyframes close-6 {
  0% {
    left: 0.0px;
    bottom: 100px;
  }

  60% {
    left: 0.0px;
    bottom: 120px;
  }

  100% {
    left: 0px;
    bottom: 0px;
  }
}

.open li:nth-of-type(6) {
  left: 0.0px;
  bottom: 100px;
  -webkit-animation-name: open-6;
  -moz-animation-name: open-6;
  -ms-animation-name: open-6;
  animation-name: open-6;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}

.open li:nth-of-type(6) .item {
  -webkit-animation-duration: 0.45s;
  -moz-animation-duration: 0.45s;
  -ms-animation-duration: 0.45s;
  animation-duration: 0.45s;
}

li:nth-of-type(6) {
  -webkit-animation-name: close-6;
  -moz-animation-name: close-6;
  -ms-animation-name: close-6;
  animation-name: close-6;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

li:nth-of-type(6) .item {
  -webkit-animation-duration: 0.55s;
  -moz-animation-duration: 0.55s;
  -ms-animation-duration: 0.55s;
  animation-duration: 0.55s;
}
