@mixin experimental-prop-value($property, $value,
  $moz      : $experimental-support-for-mozilla,
  $webkit   : $experimental-support-for-webkit,
  $o        : $experimental-support-for-opera,
  $ms       : $experimental-support-for-microsoft,
  $khtml    : $experimental-support-for-khtml,
  $official : true
) {
  @if $moz     and $experimental-support-for-mozilla   {    -moz-#{$property} :    -moz-#{$value}; }
  @if $webkit  and $experimental-support-for-webkit    { -webkit-#{$property} : -webkit-#{$value}; }
  @if $o       and $experimental-support-for-opera     {      -o-#{$property} :      -o-#{$value}; }
  @if $ms      and $experimental-support-for-microsoft {     -ms-#{$property} :     -ms-#{$value}; }
  @if $khtml   and $experimental-support-for-khtml     {  -khtml-#{$property} :  -khtml-#{$value}; }
  @if $official                                        {         #{$property} :         #{$value}; }
}
