@import "compass";
@import "animation";

@include global-reset();

$duration: 0.45s;
$menu-size: 100px;
$circle-num: 6;

#menu {
  width: 200px;
  height: 200px;
  margin: 3px;
  position: relative;
}

.open-menu {
  left: 0;
  bottom: 0;
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border: 3px white solid;
  @include border-radius(50%);
  @include box-shadow(rgba(0,0,0,.5) 0 0 2px 1px, inset rgba(0,0,0,.5) 0 0 1px 0);
  background-color: #ff3333;
  @include background-image(linear-gradient(top, #ff3333 0%, #dd5522 100%));
  @include text-shadow(rgba(0,0,0,.5) 0 0 1px);
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  z-index: 1;
}

.open-menu span {
  width: 24px;
  height: 24px;
  display: block;
  @include transition-property(transform);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);
  .open & {
    @include transform(rotate(-135deg));
  }
}

.actions {
  position: absolute;
  left: 3px;
  bottom: 3px;
  .never-open & {
    display: none;
  }
}

.actions li {
  background-color: #444;
  width: 18px;
  height: 18px;
  border: 3px white solid;
  @include border-radius(50%);
  @include box-shadow(rgba(0,0,0,.5) 0 0 2px 1px);
  @include text-shadow(rgba(255,255,255,.8) 0 0 1px);
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  @include animation-fill-mode(both);
  @include animation-duration($duration);
}

@include keyframes(open-rotate) {
  0% {
    @include transform(rotate(0deg));
  }    
  100% {
    @include transform(rotate(720deg));
  }
}

@include keyframes(close-rotate) {
  0% {
    @include transform(rotate(720deg));
  }    
  100% {
    @include transform(rotate(0deg));
  }
}

.item {
  text-decoration: none;
  color: #fff;
  @include animation-name(close-rotate);
  @include animation-timing-function(ease);
  display: inline-block;
  .open & {
    @include animation-name(open-rotate);
    @include animation-timing-function(ease);
  }
}

@for $i from 1 through $circle-num {
  $left:   cos(pi() / 2 * ($i - 1) / ($circle-num - 1)) * $menu-size;
  $bottom: sin(pi() / 2 * ($i - 1) / ($circle-num - 1)) * $menu-size;
  @include keyframes(open-#{$i}) {
    0% {
      left: 0px;
      bottom: 0px;
    }    
    60% {
      left: $left * 1.1;
      bottom: $bottom * 1.1;
    }
    80% {
      left: $left * 0.95;
      bottom: $bottom * 0.95;
    }
    100% {
      left: $left;
      bottom: $bottom;
    }
  }

  @include keyframes(close-#{$i}) {
    0% {
      left: $left;
      bottom: $bottom;
    }    
    60% {
      left: $left * 1.2;
      bottom: $bottom * 1.2;
    }
    100% {
      left: 0px;
      bottom: 0px;
    }
  }

  $open-delay: 0.02s * (6 - $i);
  .open li:nth-of-type(#{$i}) {
    left: $left;
    bottom: $bottom;
    @include animation-name(open-#{$i});
    @include animation-timing-function(ease);
    @include animation-delay($open-delay);
  }

  .open li:nth-of-type(#{$i}) .item {
    @include animation-duration($duration + $open-delay);
  }

  $close-delay: 0.02s * ($i - 1);
  li:nth-of-type(#{$i}) {
    @include animation-name(close-#{$i});
    @include animation-timing-function(ease);
    @include animation-delay($close-delay);
  }

  li:nth-of-type(#{$i}) .item {
    @include animation-duration($duration + $close-delay);
  }
}
